/* Core */
$bg-button: #f2f2f2;
$bg-input: #ffffff;
$bg-hover: #d3eafff5;

$text: #3f3f3f;

/* Borders */
$border: #bfbfbf;
$border-disabled: #bfbfbf7c;
$border-focus: #b2d6f8; //#96c8da
$border-radius: 5px;

/* Padding */
$p-input: 0.5rem 1rem;
